@import "tailwindcss";

@font-face {
    font-family: "DelaGothicOne";
    src: url(static/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(static/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #0095ff transparent;
}

body {
    background-image: url(static/images/paper.png);
    background-color: #f7f7f7;
    overflow-x: hidden;
}

#mainHero {
    background-image: url(static/images/Hero.webp);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-image: url(static/images/Grafite.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quadradinho {
    background-color: white;
    border: #0C8CE9 solid 4px;
    width: 12px;
    height: 12px;
    position: absolute;
}

#fotoPessoas {
    rotate: 4deg;
}

@media (width >= 48rem) {
    footer {
        background-size: contain;
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    #TELAPRETA {
        display: flex;
    }
}

button[type="submit"]:not(button[type="submit"].desativado) {
    cursor: pointer;
    background-color: #0C8CE9;
    color: white;
    transition: .2s;
}

button[type="submit"].desativado {
    cursor: not-allowed;
    background-color: #00295E;
    color: rgb(119, 119, 119);
    transition: .2s;
}